* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url("img/back-ground.jpeg") ;
 background-size: 100vw;
  font-family: "Goldman", cursive;
}

.htmlCss{
  background-color: white;
  background-image: none;
}


nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.html-tekst{
  position: absolute;
  width: 40%;
  height: 10%;
  right: 19%;
  top: 50%;
  font-size: 17px;
  }
.HTML-nav {
position: fixed;
top: 0;
}
  .indexTitle{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 58px;
  }
  .Html-title {
position: absolute;
width: 30%;
height: 10%;
left: 35%;
top: 25%;
font-size: 50px;
  }
  .underbar-html {
margin-top: 1%;

  }
  .imagehtml {
  margin-top: 22%;
  margin-left: 12%;
  width: 300px;
  height: 300px;
  }
  .h2title  {
    position: absolute;
    width: 50%;
    height: 30%;
    left: 41%;
    top: 43%;
    font-weight: 600;
    font-size: 30px;

  }
.javascripthtml {
background-color: rgb(0, 0, 0);
background-image: none;
}
.javascriptfoto {
margin-top: 19%;
margin-left: 60%;
width: 200px;
}
.nav-Java {
position: fixed;
top: 0;
}
.javatekst {
color: white;
position: absolute;
  width: 40%;
  height: 10%;
  right: 50%;
  top: 38%;
  font-size: 16px;
}
.javah2 {
color: white;
position: absolute;
width: 50%;
height: 30%;
left: 10%;
top: 32%;
font-size: 27px;
}
.javascripttitle {
color: white;
position: absolute;
width: 30%;
height: 10%;
left: 35%;
top: 20%;
font-size: 60px;
}
.underbar {
margin-top: 12%;
}
.PHPhtml {
background-image: none;
background-color: white;
}
.img-PHP{
  margin-top: 26%;
  margin-left: 7%;
  width: 425px;
  height: 175px;
}
.PHP-tekst {
  position: absolute;
  width: 50%;
  height: 30%;
  left: 45%;
  top: 45%;
  font-weight: 600;
  font-size: 20px;
}
.PHP-h2{
  position: absolute;
    width: 50%;
    height: 30%;
    left: 45%;
    top: 38%;
    font-weight: 600;
    font-size: 30px;

}

.PHP-title {
  position: absolute;
  width: 30%;
  height: 10%;
  left: 40%;
  top: 22%;
  font-size: 60px;

}
.nav-PHP {
position: fixed;
top: 0;
}
.underbar-PHP {
  margin-top: 7%;


}
.SQLhtml {
  background-color: rgb(0, 0, 0);
  background-image: none;
  }
  .SQLimg {
  margin-top: 21%;
  margin-left: 60%;
  width: 250px;
  
  }
  .nav-SQL {
  position: fixed;
  top: 0;
  }
  .SQLtekst {
  color: white;
  position: absolute;
    width: 40%;
    height: 10%;
    right: 50%;
    top: 38%;
    font-size: 16px;
  }
  .SQLh2 {
  color: white;
  position: absolute;
  width: 50%;
  height: 30%;
  left: 10%;
  top: 32%;
  font-size: 27px;
  }
  .SQLtitle {
  color: white;
  position: absolute;
  width: 30%;
  height: 10%;
  left: 41%;
  top: 20%;
  font-size: 60px;
  }
  .underbar-SQL {
  margin-top: 16%;
  }
  .contacthtml {
background-image: none;
background-color: white;
  }
.name1 {
  position: absolute;
    width: 40%;
    height: 20%;
    right: 30%;
    top: 38%;
}
.contacttitle {
  position: absolute;
  width: 30%;
  height: 10%;
  left: 34%;
  top: 20%;
  font-size: 60px;

}
input {
width: 400px;

}
.message {
height: 100px;
}
.button2 {
background-color: #00a8c7;;
width: 82%;
font-size: 22px;
color: white;
}
.navcontact {
  position: fixed;
  top: 0;
}
.underbar-contact {
margin-top: 48%;
}



