* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
.flex-container {
display: flex;
justify-content: space-around;
height: 80vh;
align-items: center;
}
.item1 {
height: 200px;
width: 200px;
background-color: green;

} 
.item2  {
    height: 200px;
    width: 200px;
    background-color: red;
    
    } 
    .item3  {
        height: 200px;
        width: 200px;
        background-color: black ;
        
        } 
        .item4  {
            height: 200px;
            width: 200px;
            background-color: blue;
            
            } 
